<%= render "layouts/header" %>

<h1><%= @user.username %></h1>

<div>
    <h2>Events Organized</h2>
    <ul>
        <% @user.organized_events.each do |event| %>
            <li>
                <%= link_to event.title, event %> <br />
            </li>
        <% end %>
    </ul>
</div>

<div>
    <h2>Events Attending</h2>
    <ul>
        <% Event.joins(event_registrations: :attendee).where("date >= ? AND attendee_id = ?", Time.now, @user).each do |event| %>
             <li>
                <%= link_to event.title, event %> <br />
            </li>
        <% end %>
    </ul>
</div>

<div>
    <h2>Events Attended</h2>
    <ul>
        <% Event.joins(event_registrations: :attendee).where("date < ? AND attendee_id = ?", Time.now, @user).each do |event| %>
             <li>
                <%= link_to event.title, event %> <br />
            </li>
        <% end %>
    </ul>
</div>