<%= render "layouts/header" %>

<h1>Most Anticipated Events</h1>

<ul>
    <% @events.upcoming.each do |event| %>
    <% attendees = User.joins(event_registrations: :relevant_event).where("relevant_event_id = ?", event) %>
    <% if event.open_to_public? %>
    <li>
        <%= link_to event.title, event %>
    </li>
    <% else %>
        <% if user_signed_in? && (current_user == event.creator || attendees.include?(current_user))  %>
            <%= link_to event.title, event %>
        <% end %>
    <% end %>
    
    <% end %>
</ul>

<h1>Past Events</h1>

<ul>
    <% @events.past.each do |event| %>
    <% attendees = User.joins(event_registrations: :relevant_event).where("relevant_event_id = ?", event) %>
    
    <% if event.open_to_public? %>
    <li>
        <%= link_to event.title, event %>
    </li>
    <% else %>
        <% if user_signed_in? && (current_user == event.creator || attendees.include?(current_user))  %>
            <%= link_to event.title, event %>
        <% end %>
    <% end %>
    
    <% end %>
</ul>